/* Home Section */
.home {
  background: url('/assets/images/breton_flag.jpg') no-repeat center center/cover;
  color: var(--color-white);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
  
.home h1 {
  font-size: 48px;
  margin-bottom: 20px;
  animation: fadeIn 1.5s ease-in-out;
}
  
.home p {
  font-size: 20px;
  margin-bottom: 40px;
  animation: fadeIn 2s ease-in-out;
}