:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-blue: #1D3557;
  --color-gray: #F0F0F0;
  --color-green: #2E8B57;
  --color-gold: #F4C542;
  --color-hover-gold: #E2B731;
  --color-dark-gray: #2E2E2E;
}

html, body {
  height: 100%;
  margin: 0;
}

/* Global */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  background-color: var(--color-gray);
  padding: 0;
  transition: background-color 0.3s ease;
}

.wrapper {
  flex: 1; /* Cette règle permet d'étirer le wrapper pour occuper tout l'espace restant */
}



  
/* Section Titles */
section h1 {
  font-size: 36px;
  color: var(--color-black);
  margin-bottom: 20px;
}
  
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
  }
  
  .home h1 {
    font-size: 36px;
  }
  
  .home p {
    font-size: 16px;
  }
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  color: var(--color-black);
  font-weight: 600;
}

p {
  line-height: 1.8;
  font-weight: 400;
  color: var(--color-dark-gray);
}

a {
  color: var(--color-gold);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-hover-gold);
}

footer {
  background-color: var(--color-blue);
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

footer p {
  margin: 0;
  color: #FFFFFF;
}
  
/* Button Styling */
.btn {
  background-color: var(--color-gold);
  color: var(--color-white);
  padding: 15px 30px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 8px;
  display: inline-block;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
  
.btn:hover {
  background-color: var(--color-green);
  transform: scale(1.05);
}